<div class="navbar">
  <div class="container justify-content-between">
    <a [routerLink]="['/']" class="nav-brand">Bookstore</a>
    <div class="nav-items d-flex" style="gap: 48px;">
      <a [routerLink]="['/admin']" *ngIf="showAdminButton"><i class="fa-solid fa-lock"></i> Admin</a>
      <a [routerLink]="['/cart']" class=""><i class="fa-solid fa-cart-shopping"></i> Cart <span *ngIf="cart.length > 0">({{ cart.length }})</span></a>
      <a [routerLink]="['/account']" class=""><i class="fa-solid fa-user"></i> Account</a>
    </div>
  </div>
</div>
