@import "../../variables.scss";
@import "../../utilities.scss";

.navbar {
  background-color: $brand-300;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
  height: 60px;
  padding: 0px 32px;
  width: 100%;
}

.nav-brand {
  font-size: 28px;
  text-decoration-line: none;
  color: white;

  &:hover {
    color: darken(white, 30%);
  }
}

.nav-items a {
  text-decoration-line: none;
  font-size: 18px;
  color: white;

  &:hover {
    color: darken(white, 30%);
  }
}

