<div style="padding: 12px;">
  <h4>Log in to add books to your cart</h4>
  <span style="color: red;">TODO: Add backend so that you can actually log in.</span>
  <form>
    <div class="my-3">
      <label class="form-label">Email</label>
      <input type="email" class="form-control" required disabled>
    </div>

    <div class="mb-3">
      <label class="form-label">Password</label>
      <input type="password" class="form-control" required disabled>
    </div>

    <button type="submit" class="btn btn-success full-width" disabled>Log in</button>
  </form>
</div>
