<h4>ADDRESSES</h4>
<div class="d-flex flex-column" style="gap: 30px; margin-top: 60px;">

  <div class="d-flex justify-content-between">
    <div class="d-flex flex-column">
      <span class="text-muted">DEFAULT</span>
      <span>[FIRSTNAME] [LASTNAME]</span>
      <span>[ADDRESS LINE 1]</span>
      <span>[ADDRESS LINE 2]</span>
      <span>[PHONE NUMBER]</span>
      <a type="button" class="a-red">remove</a>
    </div>
    <a type="button" class="a-fix">edit</a>
  </div>

  <div class="d-flex justify-content-between">
    <div class="d-flex flex-column">
      <span>[FIRSTNAME] [LASTNAME]</span>
      <span>[ADDRESS LINE 1]</span>
      <span>[ADDRESS LINE 2]</span>
      <span>[PHONE NUMBER]</span>
      <a type="button" class="a-red">remove</a>
    </div>
    <div class="d-flex justify-content-between" style="gap: 12px;">
      <a type="button" class="a-fix">make default</a>
      <a type="button" class="a-fix">edit</a>
    </div>
  </div>

  <button class="add-address-button" (click)="openAddAddressModal()">ADD NEW ADDRESS</button>

</div>
